.main {
  padding: 1rem;
}

.image img {
  max-height: 200px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.search {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* (1) hide elements with CSS while being SEO-friendly */
/* (2) visit https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
.hidden-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
